[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

matplotlib = "*"
tensorflow = "*"
numpy = "*"
requests[socks] = "*"
pysocks = "*"
scipy = "*"
pillow = "*"
tornado = "*"
ipython = "*"
pyobjc = "*"
python-twitter = "*"


[dev-packages]



[requires]

python_version = "3.6"
